{% extends 'base.html' %}

{% block title %}Изменить категорию серверов — Администрирование{% endblock %}

{% block content %}
<section class="panel-page">
    <div class="panel-hero compact-title">
        <div>
            <div class="section-kicker">SERVER CONTROL</div>
            <h1>Изменить категорию серверов</h1>
            <p>{{ category.name }}</p>
        </div>

        <a class="main-button dark" href="{% url 'panel:servers' %}">Назад</a>
    </div>

    <form class="panel-form-card single" method="post">
        {% csrf_token %}

        <div class="panel-form-grid">
            {{ form.as_p }}
        </div>

        <button class="main-button primary" type="submit">Сохранить категорию</button>
    </form>
</section>
{% endblock %}
